*{
    margin: 0;
    padding: 0;
}
.red{
    background: red;
    color: white;
}
.green{
    background: green;
    color: aqua;
}
/* body{
    background-image: url(flower.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 2px red;
 } */

.container{
    width: 340px;
    color:  rgb(255, 255, 255);
    border: 2px solid red;
    /* background-image: url(flower.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 63px 45px;
    background-position: top center;
    background-attachment: fixed; */
    background: url(image.jpg) no-repeat ;
    background-size: cover;
    
}

li{
    background: black;
    color: white;
    width: 334px;
}
.main{
    /* background-color: red;
    color: aliceblue; */
    color: red;
}
.bg{
    width: 344px;
    height: 1344px;
    background-image: url(flower.jpg);
    background-repeat: no-repeat;
    background-color: aqua;
    background-size: 341px 341px;
    background-attachment: local;

}